body {
    margin: 0;
    padding: 0;
}

.one {
    height: 2rem;
    width: 7rem;
    background-color: red;
    text-align: center;
    display: flex;
    margin: auto;
}
.all_property .text1{
    display: none;
}
